@model PersonalSiteMVC.Models.ContactViewModel
@{
    ViewBag.Title = "Contact";
}

<!-- ======= Header ======= -->
<header id="header" class="d-flex flex-column justify-content-center">

    <nav class="nav-menu">
        <ul id="contactNav">
            <li class="active"><a href="@Url.Action("Index","Home")"><i class="bx bx-home"></i> <span>Home</span></a></li>
        </ul>
    </nav><!-- .nav-menu -->

</header><!-- End Header -->


<main id="main">
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>

                <h3>Send me a message below and I'll get back to you soon.</h3>
               
            </div>
            <div class="col-lg-12">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-row">
                        <div class="col-md-6 form-group">

                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6 form-group">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", @placeholder = "Subject" } })
                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control", @placeholder = "Message" } })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-primary">Send Message</button></div>
                }

                </div>
            <div>@ViewBag.SendEmailError</div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->